In [9]:
import pandas as pd
df= pd.read_csv("ass3.csv")
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,70.0,85,74,95,2020,3
1,75.0,87,77,76,2019,2
2,78.0,81,72,74,2021,1
3,68.0,88,70,85,2020,3
4,65.0,91,69,99,2018,3
5,74.0,90,73,87,2020,3
6,71.0,79,76,72,2021,1
7,77.0,82,75,69,2021,1
8,62.0,95,61,64,2019,1
9,69.0,89,71,70,2018,1
10,NaN,84,78,65,2020,1
11,65.0,78,67,62,2021,1
12,72.0,91,74,80,2020,2
13,76.0,85,70,62,2020,1
14,63.0,87,66,87,2018,3
15,79.0,92,75,65,2019,1
16,74.0,83,73,95,2021,3
17,66.0,76,64,90,2021,3
18,80.0,90,79,98,2020,3
19,67.0,89,72,81,2021,2
20,75.0,80,70,78,2020,2
21,72.0,88,69,93,2021,3
22,68.0,85,63,71,2020,1
23,74.0,79,75,69,2021,1
24,70.0,91,71,64,2020,1
25,77.0,90,77,69,2021,1
26,69.0,86,68,65,2020,1
27,76.0,84,74,90,2021,3
28,65.0,78,70,66,2018,1
29,74.0,88,73,77,2021,2
30,78.0,84,76,98,2020,3
31,72.0,89,75,82,2019,2
32,80.0,93,78,91,2020,3
33,66.0,81,68,78,2021,2
34,75.0,77,72,70,2021,1
35,77.0,79,75,87,2020,3
36,73.0,85,74,91,2021,3
37,68.0,90,67,66,2019,1
38,79.0,92,76,66,2020,1
39,76.0,81,78,77,2021,2
40,75.0,80,70,63,2021,1
41,67.0,88,73,87,2020,3
42,80.0,82,79,79,2021,2
43,74.0,86,72,88,2020,3
44,72.0,89,70,63,2021,1
45,79.0,93,77,91,2020,3
46,66.0,82,74,69,2019,1

In [10]:
df.isnull()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,True,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False

TypeError: 'DataFrame' object is not callable