In [3]:
import pandas as pd
data = {"Match 1": [45, 60, 20, 80, 55],"Match 2": [30, 50, 40, 90, 65],"Match 3": [70, 20, 35, 60, 40],"Match 4": [25, 45, 15, 100, 75]}
x = pd.DataFrame(data, index=["Player 1", "Player 2", "Player 3", "Player 4", "Player 5"])

In [19]:
x.loc["Player 2", "Match 4"] = 50
print(x)

          Match 1  Match 2  Match 3  Match 4  Total Runs
Player 1       55       40       80       35         630
Player 2       70       60       30       50         660
Player 3       25       45       40       20         390
Player 4       90      100       70      110        1110
Player 5       65       75       50       85         825
Player 6       60       50       70       80         780

In [9]:
x.loc["Player 6"] = [50, 40, 60, 70]

In [9]:
x.loc["Player 3"] = x.loc["Player 3"] - 5

In [10]:
x_percentage = (x / 120) * 100

In [13]:
x["Total Runs"] = x.sum(axis=1)

In [14]:
total_runs_per_match = x.sum(axis=0)

In [15]:
highest_total_runs_player = x["Total Runs"].idxmax()

In [16]:
lowest_total_runs_match = total_runs_per_match.idxmin()

In [17]:
average_runs_per_player = x["Total Runs"] / 4

In [18]:
print(x)

          Match 1  Match 2  Match 3  Match 4  Total Runs
Player 1       55       40       80       35         630
Player 2       70       60       30       60         660
Player 3       25       45       40       20         390
Player 4       90      100       70      110        1110
Player 5       65       75       50       85         825
Player 6       60       50       70       80         780

In [27]:
x_sorted = x.sort_values(by="Total Runs", ascending=False)

In [28]:
players_above_200 = x_sorted[x_sorted["Total Runs"] > 200]

In [29]:
x_percentage, total_runs_per_match, highest_total_runs_player, lowest_total_runs_match, average_runs_per_player, x_sorted, players_above_200

(            Match 1    Match 2    Match 3    Match 4
 Player 1  45.833333  33.333333  66.666667  29.166667
 Player 2  58.333333  50.000000  25.000000  50.000000
 Player 3  20.833333  37.500000  33.333333  16.666667
 Player 4  75.000000  83.333333  58.333333  91.666667
 Player 5  54.166667  62.500000  41.666667  70.833333
 Player 6  50.000000  41.666667  58.333333  66.666667,
 Match 1        365
 Match 2        370
 Match 3        340
 Match 4        390
 Total Runs    4395
 dtype: int64,
 'Player 4',
 'Match 3',
 Player 1    157.50
 Player 2    165.00
 Player 3     97.50
 Player 4    277.50
 Player 5    206.25
 Player 6    195.00
 Name: Total Runs, dtype: float64,
           Match 1  Match 2  Match 3  Match 4  Total Runs
 Player 4       90      100       70      110        1110
 Player 5       65       75       50       85         825
 Player 6       60       50       70       80         780
 Player 2       70       60       30       50         660
 Player 1       55       40       80       35         630
 Player 3       25       45       40       20         390,
           Match 1  Match 2  Match 3  Match 4  Total Runs
 Player 4       90      100       70      110        1110
 Player 5       65       75       50       85         825
 Player 6       60       50       70       80         780
 Player 2       70       60       30       50         660
 Player 1       55       40       80       35         630
 Player 3       25       45       40       20         390)