In [15]:
import pandas as pd
data = {"Match 1": [45, 60, 20, 80, 55],"Match 2": [30, 50, 40, 90, 65],"Match 3": [70, 20, 35, 60, 40],"Match 4": [25, 45, 15, 100, 75]}
x = pd.DataFrame(data, index=["Player 1", "Player 2", "Player 3", "Player 4", "Player 5"])

In [17]:
x.head(3)

          Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       45
Player 3       20       40       35       15

In [3]:
num_players, num_matches = performance.shape
(num_players, num_matches)

(5, 4)

In [5]:
match_names = performance.columns.tolist()
player_names = performance.index.tolist()
(match_names, player_names)

(['Match 1', 'Match 2', 'Match 3', 'Match 4'],
 ['Player 1', 'Player 2', 'Player 3', 'Player 4', 'Player 5'])

In [6]:
x.dtypes

Match 1    int64
Match 2    int64
Match 3    int64
Match 4    int64
dtype: object

In [7]:
x.isnull().sum()

Match 1    0
Match 2    0
Match 3    0
Match 4    0
dtype: int64

In [8]:
x.loc["Player 4"]

Match 1     80
Match 2     90
Match 3     60
Match 4    100
Name: Player 4, dtype: int64

In [20]:
x["Match 2"]

Player 1    30
Player 2    50
Player 3    40
Player 4    90
Player 5    65
Name: Match 2, dtype: int64

In [21]:
x.loc[["Player 1", "Player 3"], ["Match 1", "Match 4"]]

          Match 1  Match 4
Player 1       45       25
Player 3       20       15

In [22]:
x.iloc[:3, :2]

          Match 1  Match 2
Player 1       45       30
Player 2       60       50
Player 3       20       40

In [23]:
x.loc["Player 5", "Match 3"]

40